@use "sass:map";

@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: map.get($typo, "family");
  font-size: map.get($typo, "fontSize");
  background-color: map.get($light, "background");
}
img {
  width: 100%;
}

.wrapper {
  width: 100%;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding-top: 5em;

  // padding: 10em;

  .container {
    max-width: 35em;
    margin: 0 auto;
    font-family: map.get($typo, "family");
  }

  &.wrapper.light {
    background-image: url(../images/bg-mobile-light.jpg);

    @include tablet {
      background-image: url(../images/bg-desktop-light.jpg);
    }
    @include desktop {
      background-image: url(../images/bg-desktop-light.jpg);
    }
  }

  &.wrapper.dark {
    height: 100vh;
    background-color: map.get($dark, "container");
    color: map.get($dark, "font");
    background-image: url(../images/bg-mobile-dark.jpg);
    @include tablet {
      background-image: url(../images/bg-desktop-dark.jpg);
    }
    @include desktop {
      background-image: url(../images/bg-desktop-dark.jpg);
    }
  }

  .container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: map.get($typo, "family");

    & input.input {
      border: white;
      margin-bottom: 2.5em;
      width: 100%;
      height: 3rem;
      font-size: 1rem;
      border-radius: 6px;
      font-family: map.get($typo, "family");
      display: flex;
      align-items: start;
      // margin: 0 2em 0 2em;
      padding-right: 10em;
      padding-left: 3em;
      // gap: 1.5em;

      &.dark {
        background-color: map.get($dark, "todo");
        border: map.get($dark, "todo");
        color: map.get($dark, "font");
      }

      &:hover {
        outline: none;
      }
    }
    ul.list {
      // margin: 0;
      list-style-type: none;
    }
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1em solid map.get($light, "line");
    background-color: white;
    padding: 0 2.5em 0 2.5em;
    gap: 1.5em;
    height: 3rem;
    width: 100%;
    font-family: map.get($typo, "family");

    &.last {
      border-bottom-left-radius: 6px 6px;
      border-bottom-right-radius: 6px 6px;
      border-bottom: none;
      &.dark {
        border-bottom-left-radius: 6px 6px;
        border-bottom-right-radius: 6px 6px;
        border-bottom: none;
      }
    }

    &.dark {
      background-color: map.get($dark, "todo");
      border-bottom: 0.1em solid map.get($dark, "line");
    }

    &.completed {
      text-decoration: line-through;
      color: map.get($light, "line");

      &.dark {
        color: map.get($dark, "line");
      }
    }

    &:first-child {
      border-top-left-radius: 6px 6px;
      border-top-right-radius: 6px 6px;
    }

    .circle {
      cursor: pointer;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: solid 0.1em map.get($light, "line");
      transition: border-color 0.3s;

      &:hover {
        border: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        border-radius: 50%;
      }

      &.dark {
        border: solid 0.1em map.get($dark, "line");
      }

      &.completed {
        background: map.get($colors, "check");
      }
    }

    .circle-check {
      display: flex;
      align-items: center;
      justify-content: center;

      img.check {
        margin: 4.5px 0 0 2px;
        width: 58%;
      }
    }

    span {
      color: map.get($light, "secondaryFont");

      &.clear {
        padding-left: 7em;
      }
    }
  }
  .filteredTasks {
    background-color: white;
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-radius: 6px;
    margin-top: 1em;
    font-weight: map-get($typo, "weightTwo");
    color: map-get($light, "secondaryFont");

    &.dark {
      background-color: map-get($dark, "todo");
      color: map-get($dark, "secondFont");
    }

    span {
      margin: 0 0.7em 0 0.7em;
    }
    span:hover {
      color: map.get($colors, "primary");
    }
  }
  .header__switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;

    @include tablet {
      padding-left: 4em;
      padding-right: 4em;
    }

    @include desktop {
      padding-left: 4em;
      padding-right: 4em;
    }

    h1.title {
      color: white;
      font-size: 1.5rem;
      letter-spacing: 0.3em;
    }
    .lightSwitch {
      width: 2em;
    }
  }

  span.drag {
    color: map.get($light, "secondaryFont");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5em 0 2em 0;
    font-size: 0.85rem;
  }
}
