// theme colors
// creating map
$mobile: 767px;
$tablet: 768px;
$desktop: 1024px;

$colors: (
  "primary": hsl(220, 98%, 61%),
  "check": linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
);

// Light theme
$light: (
  "list": hsl(0, 0%, 98%),
  "line": hsl(236, 33%, 92%),
  "background": hsl(240, 10%, 96%),
  "primaryFont": hsl(235, 19%, 35%),
  "secondaryFont": hsl(237, 9%, 61%),
);

// Dark theme
$dark: (
  "container": hsl(235, 21%, 11%),
  "todo": hsl(235, 24%, 19%),
  "font": hsl(234, 39%, 85%),
  "hover": hsl(236, 33%, 92%),
  "secondFont": hsl(234, 11%, 52%),
  "line": hsl(233, 14%, 35%),
  "input": hsl(237, 14%, 26%),
);

// Typography
$typo: (
  "fontSize": 0.8rem,
  "family": (
    "Josefin Sans",
    sans-serif,
  ),
  "weightOne": 400,
  "weightTwo": 700,
);
